body{
    background-color: black;
    margin:0;
    padding:0;
}
.header {
    background-color: peachpuff;
    color: rgb(29, 20, 20);
    text-align: center;
}

ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 35px;
    padding-left: 10px;
    padding-right: 15px
}

a {
    text-decoration: none;
    padding-bottom: 20px;
    color: rgb(136, 8, 8);


}

.section {
    text-align: center;
    color: white;
    padding: 70px 50px 70px 50px;
    background-image: url(https://tse4.mm.bing.net/th/id/OIP.SdxFQwU_z9j9HvG9_5E62AHaHa?pid=Api&h=220&P=0);
    background-size: cover;
    background-position: center;
    

}
.article{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(245, 230, 199);
    margin-top: 10px;
    height: 350px;
    padding:50px 30px 50px 30px;
    justify-content: space-evenly;
}
.card{
    width: 170px;
    height: 300px;
    margin: auto;
    border-radius: 12px;
    border-color: brown;
    text-align: center;
    background-color:white ; 
}
img{
    height:130px;
    width:170px;
    border-radius: 12px;
}
button{
    background-color: brown;
    border-radius: 8px;
}
.card:hover{
    background-color:rgb(228, 150, 198);
    color:black;
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0px 5px 15px rgba(97, 5, 92, 0.3);

}
button:hover{
    background:radial-gradient(rgb(233, 118, 18),rgb(241, 15, 53));
}
footer{
    background-color:peachpuff ;
    height: 50px;
    text-align: center;
    
}
#about{
    background-color: rgb(187, 106, 106);
    color:burlywood
}
#para{
    color:white;
}




